<script is:inline>
	// Enter submitter form
	const input = document.querySelectorAll("input");
	for (let i = 0; i < input.length; i++) {
		input[i].addEventListener("keyup", (event) => {
			if (event.key === "Enter") {
				recipe();
			}
		});
	}
	
	function recipe() {
	
		// Få værdier fra form
		let pizze = parseInt(document.getElementById('pizze').value);
		let size = parseInt(document.getElementById('size').value);
		let hydration = parseInt(document.getElementById('hydration').value);
	
		if(pizze > 0 && size > 0 && hydration > 0) {
			let saltPercentage = 3;
	
			let totalWeight = pizze * size;
			let totalPercentage = 100 + hydration + saltPercentage;
			let totalFlour = Math.round((totalWeight/totalPercentage) * 100);
			let totalWater = Math.round((totalFlour*hydration) / 100);
			let salt = Math.round((totalFlour*saltPercentage) / 100);
	
			let preferment = Math.round((totalFlour * 25) / 100);
			let poolishYeast = parseFloat((preferment * 0.25) / 100).toFixed(2);
	
			let doughFlour = totalFlour - preferment;
			let doughWater = totalWater - preferment;
	
			let sourdoughFlour = Math.round(totalFlour * 90 /100);
			let sourdoughContent = (totalFlour - sourdoughFlour);
			let sourdough = sourdoughContent * 2;
			let sourdoughWater = totalWater - sourdoughContent;
	
			document.getElementById('recipe').innerHTML = `
				<div class="flex divide-x">
					<div class="pr-8">
						<h4>Poolish</h4>
						<ul>
							<li>Mel: ${preferment} g</li>
							<li>vand: ${preferment} g</li>
							<li>Gær: ${poolishYeast} g</li>
							<li>Honning: ${poolishYeast} g</li>
						</ul>
	
						<h4>Pizzadej</h4>
						<ul>
							<li>Al poolish</li>
							<li>Mel: ${doughFlour} g</li>
							<li>Vand: ${doughWater} g</li>
							<li>Salt: ${salt} g</li>
						</ul>
					</div>
	

				</div>
			`;
		}
	
	}
	
	</script>